In [2]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as bs
res = urlopen('https://earthquake.usgs.gov/earthquakes/browse/stats.php')
html = bs(res)
table = html.find('table')
headings = table.find_all('th')
headers = []
for heading in headings:
    headers.append(heading.text)
del headers[0]
rows = headers[-5:]
columns = headers[:-5]
tdList = table.find_all('td')
for i in range(len(tdList)):
    tdList[i] = tdList[i].text
import numpy as np
tdArray = np.array(tdList)
import pandas as pd
tdArray = tdArray.reshape(5,19)
pd.DataFrame(tdArray, index=rows, columns=columns)

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
8.0+,1,1,0,1,2,1,2,4,0,1,1,1,2,2,1,1,0,1,1
7–7.9,14,15,13,14,14,10,9,14,12,16,23,19,12,17,11,18,16,6,16
6–6.9,146,121,127,140,141,140,142,178,168,144,150,185,108,123,143,127,130,104,117
5–5.9,1344,1224,1201,1203,1515,1693,1712,2074,1768,1896,2209,2276,1401,1453,1574,1419,1550,1455,1674
EstimatedDeaths,231,21357,1685,33819,298101,87992,6605,708,88708,1790,226050,21942,689,1572,756,9624,,,